@import 'colors';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $background-color;
    color: $primary-color;
    // overflow: hidden;
}

a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
        color: $primary-color;
    }

    &:visited {
        color: $primary-color;
    }
}

$page-transition-duration: 0.4s;

// animations
.page-enter-active,
.page-leave-active {
    transition: transform $page-transition-duration linear;
    overflow: hidden !important;
}

.page-enter-from {
    transform: translateY(+100vh);
}

.page-leave-to {
    transform: translateY(calc(-100% - 25vh));
}

// fill screen with content
html {
    &.fill-content {
        height: 100%;
        margin: 0;

        transition: all;
        transition-delay: $page-transition-duration;
        transition-duration: 0s;

        body {
            height: 100%;
            margin: 0;


            &>div {
                display: flex;
                flex-flow: column;
                height: 100%;

                &>div {
                    display: flex;
                    height: 100%;
                    flex-direction: column;
                    margin-top: 0.1%;

                    &>nav {
                        flex: 0 1 auto;
                    }

                    &>div {
                        flex: 1 1 auto;
                        justify-content: center;
                        align-items: center;
                        display: flex;
                    }
                }
            }
        }
    }
}