@import '~/assets/colors.scss';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $background-color;
    color: $primary-color;
    // overflow: hidden;
}

a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
        color: $primary-color;
    }

    &:visited {
        color: $primary-color;
    }
}